body{
    background-image: url("../css/img.jpg") ;
    
}


.fldErr
{
    color: red;
    padding: 5px;
    width: 100%;
}

/* https://healthitanalytics.com/images/site/features/_normal/GettyImages-1040557296.jpg */
/* https://pixabay.com/get/ga1f3005e1a703fd34ab9adb0eb60f061d2554a773212d9932156b1df1da35b1d354036b1d6a804ae8187b5e9fecb5a04.png */

/* https://pixabay.com/get/g1f989980cbf94dcc44b88109d567cf5c2d5e30a07434b9f8a923ec2966e2d4dcc188f4d1a804eb7519045b307703cfdb.jpg */